<div>
  <a class='btn btn-success' (click)='usuariosModal.show()'>
    <span class='fa fa-plus'></span>
    Crear nuevo usuario
  </a>
  <ct-modal
    #usuariosModal
    (onClose)='user.clear()'
    title='Usuarios'
    [actions]='actions'
    >
    <form>
      <div class="form-group">
          <label>Nombre</label>
          <input
            [(ngModel)]='user.name'
            type="text"
            name='name'
            class="form-control"
            placeholder="Enter name" />
        </div>
      <div class="form-group">
        <label>Email address</label>
        <input
          [(ngModel)]='user.email'
          type="email"
          name='email'
          class="form-control"
          placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          [(ngModel)]='user.password'
          type="password"
          name='password'
          class="form-control"
          placeholder="Password" />
      </div>
      <div class="form-group">
          <label>Confirm Password</label>
          <input
            [(ngModel)]='user.confirmPassword'
            type="password"
            name='confirmPassword'
            class="form-control"
            placeholder="Confirm Password" />
        </div>
    </form>
  </ct-modal>
  <i *ngIf='loading===true' class='fa fa-spin fa-spinner'></i>
  <table class='table table-hover table-dark'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <a class='btn btn-info' (click)='editarUsuario(user, usuariosModal)'>
            <span class='fa fa-pencil'></span>
            Editar
          </a>
          <button class='btn btn-danger' (click)='borrarUsuario(user)'>
            <span class='fa fa-trash'></span>
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
