<div class="modal" [ngClass]="{'visible': modalVisible === true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" (click)='hide()'>
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <div *ngIf='actions && actions.length > 0'>
          <button
            (click)='handleClick(action)'
            class='btn {{action.btnClass}}'
            *ngFor='let action of actions'>
            {{action.text}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>